# .github/workflows/main.yml
name: C++ CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Google Test and CMake
        run: |
          sudo apt-get update
          sudo apt-get install -y google-mock cmake

      - name: Configure CMake
        run: cmake -B build

      - name: Build and Run Tests
        run: cmake --build build --target all -- -j
